{{ "<!-- FOOTER -->" | safeHTML }}
<footer class="" id="footer">
    <div class="container">
        {{ if .Site.Params.footer.fishing }}
            <div class="text-center">
                <a href="http://www.fishingcactus.com/" class="inline-block">
                {{ if .Site.Params.contact.facebookSVG }}
                <img src="img/logo_fishingcactus.png" class="img-responsive"/>
                {{ end }}
                </a>
            </div>
        {{ end }}
        {{ if .Site.Params.footer.europe }}
            <div class="text-center">
                <a href="https://eacea.ec.europa.eu/europe-creative/media_fr" class="inline-block">
                {{ if .Site.Params.contact.discordSVG }}
                <img src="img/logo_europe.png" class="img-responsive"/>
                {{ end }}
                </a>
            </div>
        {{ end }}
        {{ with .Site.Params.footer.copyright }}
        {{ end }}
    </div>
</footer>
